.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    width: 33%;
    height: 300px;
}
/* classic */
.banner{
    height: 745px;
    text-align: center;
    padding: 40px;
}
.classic{
    background: url(../imgs/bg.jpg);
}
.title{
    width: 80%;
    color: #fff;
    font-size: 36px;
    text-align: center;
    position: relative;
    margin: 0px auto;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 30px 0px 0px 0px;
}
.des{
    font-size: 12px;
    color: #fff;
    letter-spacing: 3px;
}
.bar{
    height: 42px;
    background: url(../imgs/bar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.intro{
    width: 60%;
    margin: 20px auto;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}
.cap{
    width: 100%;
    height: 378px;
    margin: 0px auto;
}
.classic_cap{
    background: url(../imgs/pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.content .title{
    color: #0e590f;
    font-size: 24px;
    font-weight: bold;
}
.content .des{
    color: #343434;
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin:0 auto;
    line-height: 25px;
}
.rules{
    width: 650px;
    height: auto;
    margin: 20px auto;
    background: url(../imgs/r_bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.rules .r-bg{
    width: 650px;
    height: 100px;
    background-color: #3a9858;
    margin: 22px auto;
    border-radius: 35px;
    position: relative;
}
.rules>li>.num{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.rules>li>.num span{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    width: 100px;
    height: 90px;
    font-size: 36px;
    border-right: 1px dotted #fff;
}
.rules>li>.des{
    width: 550px;
    height: 80px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 3px;
}
.rules>li>.des span{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    width: 550px;
    height: 100px;
    font-size: 16px;
    line-height: 20px;
}
.sub-title{
    width: 70%;
    font-size: 16px;
    color: #2f2f2f;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
}
.sub-content{
    font-size: 15px;
    color: #303030;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    padding: 10px;
}
.sub-content>li>.ex1{
    background: url(../imgs/ex1.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 579px;
    height: 108px;
    margin: 0px auto;
}
.sub-content>li>.ex2{
    background: url(../imgs/ex2.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 292px;
    height: 108px;
    margin: 0px auto;
}
.sub-content>li>.ex3{
    background: url(../imgs/ex3.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 292px;
    height: 108px;
    margin: 0px auto;
}
.sub-content>li>.ex4{
    background: url(../imgs/ex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 342px;
    margin: 0px auto;
}
.table{
    width: 600px;
    font-size: 12px;
    color: #fff;
    margin: 10px auto;
    background-color: #5da676;
}
.table li{
    list-style-type: none;
    text-align: center;
    border: 1px solid #8bdaa6;
    width: 150px;
}
.t-title{
    height: 65px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    background-color: #3e905a;
}
.table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    height: 55px;
}
.table2{
    width: 600px;
    font-size: 15px;
    color: #fff;
    margin: 10px auto;
    background-color: #5da676;
}
.table2 li{
    list-style-type: none;
    text-align: center;
    border: 1px solid #8bdaa6;
    width: 300px;
    min-height: 45px;
    max-height: 200px;
}
.t-title2{
    font-weight: bold;
    height: 35px;
    font-size: 22px;
    background-color: #3e905a;
}
.table2 span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    min-height: 45px;
    max-height: 200px;
}
.yellow{
    color: #e3ea18;
    font-weight: bold;
}
.des2{
    width: 70%;
    color: #343434;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    margin: 10px auto;
}
/* baozhuo */
.baozhuo{
    background: url(../imgs/bg1.jpg)
}
.baozhuo_cap{
    background: url(../imgs/pic.png);
    background-position: center;
    background-repeat: no-repeat;
}
.baozhuo1{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: 0 0;
    margin: 10px auto;
}
.baozhuo2{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: -371px 0px;
    margin: 10px auto;
}
.baozhuo3{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: -742px 0px;
    margin: 10px auto;
}
.baozhuo4{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: 0px -165px;
    margin: 10px auto;
}
.baozhuo5{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: -371px -165px;
    margin: 10px auto;
}
.baozhuo6{
    width: 361px;
    height: 140px;
    background: url(../imgs/icon.jpg);
    background-position: -752px -177px;
    margin: 5px auto;
}
.baozhuo7{
    width: 361px;
    height: 140px;
    background: url(../imgs/icon.jpg);
    background-position: -1128px -12px;
    margin: 5px auto;
}
.baozhuo_title{
    color: #884e72;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    letter-spacing: 1px;
}
.t1{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1128px -165px;
    margin: 20px auto;
}
.t2{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1243px -165px;
    margin: 20px auto;
}
.t3{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1357px -165px;
    margin: 20px auto;
}
.t4{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1128px -206px;
    margin: 20px auto;
}
.t5{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1243px -206px;
    margin: 20px auto;
}
.baozhuo_table{
    width: 600px;
    font-size: 14px;
    color: #fff;
    margin: 10px auto;
}
.baozhuo_table li{
    list-style-type: none;
    text-align: center;
    border: 1px solid #8f5c7d;
    background-color: #613953;
    border: 1px solid #8f5c7d;
    width: 200px;
    height: 70px;
}
.baozhuo_table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 70px;
}
.baozhuo_des{
    width: 90%;
    color: #343434;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
}
.baozhuo_des1 li{
    color: #652e4e;
    font-size: 14px;
    padding: 5px;
}
/* jinmi */
.jinmi{
    background: url(../imgs/bg2.jpg)
}
.jinmi_cap{
    background: url(../imgs/pic1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.jinmi_content li{
    color: #1f5768;
    font-size: 14px;
    padding: 5px;
}
.jinmi_content .ex1{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: 0 0;
    margin: 10px auto;
}
.jinmi_content .ex2{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -371px 0px;
    margin: 10px auto;
}
.jinmi_content .ex3{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -742px 0px;
    margin: 10px auto;
}
.jinmi_content .ex4{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: 0 167px;
    margin: 10px auto;
}
.jinmi_content .ex5{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -377px -171px;
    margin: 10px auto;
}
.jinmi_content .ex6{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -745px -171px;
    margin: 10px auto;
}
.jinmi_title{
    text-align: center;
    color: #66a0b3;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

.jinmi_des{
    width: 90%;
    color: #343434;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
}
.jinmi_des p{
    color: #000;
}
.des3{
    width: 90%;
    color: #343434;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
}
.jinmi_table{
    width: 800px;
    font-size: 14px;
    color: #fff;
    margin: 10px auto;
    line-height: 13px;
    letter-spacing: 1px;
}
.jinmi_table li{
    text-align: center;
    border: 1px solid #b6e4f3;
    width: 33%;
    background-color: #8abecf;
    border: 1px solid #b6e4f3;
}
.jinmi_table .t1{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px 0px;
    margin: 0px auto;
}
.jinmi_table .t2{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px -79px;
    margin: 0px auto;
}
.jinmi_table .t3{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px -158px;
    margin: 0px auto;
}
.jinmi_table .t4{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px -237px;
    margin: 0px auto;
}
.jinmi_table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 270px;
    height: 110px;
}
.c1{
    width: 740px;
    height: 257px;
    background: url(../imgs/c.jpg);
    background-position: 0px 0px;
    margin: 5px auto;
}
.c2{
    width: 378px;
    height: 156px;
    background: url(../imgs/c.jpg);
    background-position: 0px -257px;
    margin: 5px auto;
}
.c3{
    width: 378px;
    height: 156px;
    background: url(../imgs/c.jpg);
    background-position: -388px -257px;
    margin: 5px auto;
}