.ml200{
    margin-left: 200px;
}
/* index */
.indexContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}
.item{
    width: 345px;
    height: 535px;
}
.item:nth-child(1){
    background: url(../imgs/index_bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.item:nth-child(2){
    background: url(../imgs/index_bg.jpg);
    background-position: -710px 0px;
    background-repeat: no-repeat;
}
.item:nth-child(3){
    background: url(../imgs/index_bg.jpg);
    background-position: -355px 0px;
    background-repeat: no-repeat;
}
.item:nth-child(4){
    background: url(../imgs/index_bg.jpg);
    background-position: -1065px 0px;
    background-repeat: no-repeat;
}
.item:nth-child(5){
    background: url(../imgs/index_bg.jpg);
    background-position: 0px -538px;
    background-repeat: no-repeat;
}
.item:nth-child(6){
    background: url(../imgs/index_bg.jpg);
    background-position: -355px -538px;
    background-repeat: no-repeat;
}
.item span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 350px;
    height: 539px;
    position: relative;
}
.icon-01{
    width: 133px;
    height: 133px;
    background: url(../imgs/icon.png);
    background-position: 0px 0px;
    margin: 10px auto;
}
.tab-01{
    width: 72px;
    height: 24px;
    background: url(../imgs/icon.png);
    background-position: -946px -2px;
    background-repeat: no-repeat;
    margin: 2px auto;
}
.tab-03{
    width: 72px;
    height: 24px;
    background: url(../imgs/icon.png);
    background-position: -946px -29px;
    background-repeat: no-repeat;
    margin: 2px auto;
}
.icon-03{
    width: 133px;
    height: 133px;
    background: url(../imgs/icon.png);
    background-position: -266px 0px;
    margin: 10px auto;
}
.tab-02{
    width: 72px;
    height: 24px;
    background: url(../imgs/icon.png);
    background-position: -946px -55px;
    background-repeat: no-repeat;
    margin: 2px auto;
}
.icon-02{
    width: 133px;
    height: 133px;
    background: url(../imgs/icon.png);
    background-position: -133px 0px;
    margin: 10px auto;
}
.icon-04{
    width: 133px;
    height: 133px;
    background: url(../imgs/icon.png);
    background-position: -399px 0px;
    margin: 10px auto;
}
.tab-04{
    width: 143px;
    height: 24px;
    background: url(../imgs/icon.png);
    background-position: -1051px -55px;
    background-repeat: no-repeat;
    margin: 2px auto;
}
.icon-05{
    width: 133px;
    height: 133px;
    background: url(../imgs/icon.png);
    background-position: -532px 0px;
    margin: 10px auto;
}
.tab-05{
    width: 143px;
    height: 24px;
    background: url(../imgs/icon.png);
    background-position: -946px -81px;
    background-repeat: no-repeat;
    margin: 2px auto;
}

.icon-06{
    width: 133px;
    height: 133px;
    background: url(../imgs/icon.png);
    background-position: -664px 0px;
    margin: 10px auto;
}
.tab-06{
    width: 143px;
    height: 24px;
    background: url(../imgs/icon.png);
    background-position: -1051px -2px;
    background-repeat: no-repeat;
    margin: 2px auto;
}
/* classic */
.banner{
    height: 745px;
    text-align: center;
    padding: 40px;
}
.classic{
    background: url(../imgs/bg.jpg);
}
.title{
    width: 80%;
    color: #fff;
    font-size: 36px;
    text-align: center;
    position: relative;
    margin: 0px auto;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 30px 0px 0px 0px;
}
.des{
    font-size: 12px;
    color: #fff;
    letter-spacing: 3px;
}
.bar{
    height: 42px;
    background: url(../imgs/bar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.intro{
    width: 60%;
    margin: 20px auto;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}
.cap{
    width: 100%;
    height: 378px;
    margin: 0px auto;
}
.classic_cap{
    background: url(../imgs/pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.content .title{
    color: #0e590f;
    font-size: 24px;
    font-weight: bold;
}
.content .des{
    color: #343434;
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin:0 auto;
    line-height: 25px;
}
.rules{
    width: 650px;
    height: auto;
    margin: 20px auto;
    background: url(../imgs/r_bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.rules .r-bg{
    width: 650px;
    height: 100px;
    margin: 22px auto;
    border-radius: 35px;
    position: relative;
}
.rules .green{
    background-color: #3a9858;
}
.rules>li>.num{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.rules>li>.num span{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    width: 100px;
    height: 90px;
    font-size: 36px;
    border-right: 1px dotted #fff;
}
.rules>li>.des{
    width: 550px;
    height: 80px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 3px;
}
.rules>li>.des span{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    width: 550px;
    height: 100px;
    font-size: 16px;
    line-height: 20px;
}
.sub-title{
    width: 70%;
    font-size: 16px;
    color: #2f2f2f;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
}
.sub-content{
    font-size: 15px;
    color: #303030;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    padding: 10px;
}
.sub-content>li>.ex1{
    background: url(../imgs/ex1.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 579px;
    height: 108px;
    margin: 0px auto;
}
.sub-content>li>.ex2{
    background: url(../imgs/ex2.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 292px;
    height: 108px;
    margin: 0px auto;
}
.sub-content>li>.ex3{
    background: url(../imgs/ex3.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 292px;
    height: 108px;
    margin: 0px auto;
}
.sub-content>li>.ex4{
    background: url(../imgs/ex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 342px;
    margin: 0px auto;
}
.table{
    width: 600px;
    font-size: 12px;
    color: #fff;
    margin: 10px auto;
    background-color: #5da676;
}
.table li{
    list-style-type: none;
    text-align: center;
    border: 1px solid #8bdaa6;
    width: 150px;
}
.t-title{
    height: 65px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    background-color: #3e905a;
}
.table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    height: 55px;
}
.table2{
    width: 600px;
    font-size: 15px;
    color: #fff;
    margin: 10px auto;
    background-color: #5da676;
}
.table2 li{
    list-style-type: none;
    text-align: center;
    border: 1px solid #8bdaa6;
    width: 300px;
    min-height: 45px;
    max-height: 200px;
}
.t-title2{
    font-weight: bold;
    height: 35px;
    font-size: 22px;
    background-color: #3e905a;
}
.table2 span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    min-height: 45px;
    max-height: 200px;
}
.yellow{
    color: #e3ea18;
    font-weight: bold;
}
.des2{
    width: 70%;
    color: #343434;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    margin: 10px auto;
}
/* baozhuo */
.baozhuo{
    background: url(../imgs/bg1.jpg)
}
.baozhuo_cap{
    background: url(../imgs/pic.png);
    background-position: center;
    background-repeat: no-repeat;
}
.baozhuo_bar{
    height: 42px;
    background: url(../imgs/barzhuo_bar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.baozhuo1{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: 0 0;
    margin: 10px auto;
}
.baozhuo2{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: -371px 0px;
    margin: 10px auto;
}
.baozhuo3{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: -742px 0px;
    margin: 10px auto;
}
.baozhuo4{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: 0px -165px;
    margin: 10px auto;
}
.baozhuo5{
    width: 371px;
    height: 165px;
    background: url(../imgs/icon.jpg);
    background-position: -371px -165px;
    margin: 10px auto;
}
.baozhuo6{
    width: 361px;
    height: 140px;
    background: url(../imgs/icon.jpg);
    background-position: -752px -177px;
    margin: 5px auto;
}
.baozhuo7{
    width: 361px;
    height: 140px;
    background: url(../imgs/icon.jpg);
    background-position: -1128px -12px;
    margin: 5px auto;
}
.baozhuo_title{
    color: #884e72;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    letter-spacing: 1px;
}
.t1{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1128px -165px;
    margin: 20px auto;
}
.t2{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1243px -165px;
    margin: 20px auto;
}
.t3{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1357px -165px;
    margin: 20px auto;
}
.t4{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1128px -206px;
    margin: 20px auto;
}
.t5{
    width: 100px;
    height: 28px;
    background: url(../imgs/icon.jpg);
    background-position: -1243px -206px;
    margin: 20px auto;
}
.baozhuo_table{
    width: 600px;
    font-size: 14px;
    color: #fff;
    margin: 10px auto;
}
.baozhuo_table li{
    list-style-type: none;
    text-align: center;
    border: 1px solid #8f5c7d;
    background-color: #613953;
    border: 1px solid #8f5c7d;
    width: 200px;
    height: 70px;
}
.baozhuo_table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 70px;
}
.baozhuo_des{
    width: 90%;
    color: #343434;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
}
.baozhuo_des1 li{
    color: #652e4e;
    font-size: 14px;
    padding: 5px;
}
/* jinmi */
.jinmi{
    background: url(../imgs/bg2.jpg)
}
.jinmi_bar{
    height: 42px;
    background: url(../imgs/jinmi_bar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.jinmi_cap{
    background: url(../imgs/pic1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.jinmi_content li{
    color: #1f5768;
    font-size: 14px;
    padding: 5px;
}
.jinmi_content .ex1{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: 0 0;
    margin: 10px auto;
}
.jinmi_content .ex2{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -371px 0px;
    margin: 10px auto;
}
.jinmi_content .ex3{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -742px 0px;
    margin: 10px auto;
}
.jinmi_content .ex4{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: 0 167px;
    margin: 10px auto;
}
.jinmi_content .ex5{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -377px -171px;
    margin: 10px auto;
}
.jinmi_content .ex6{
    width: 371px;
    height: 165px;
    background: url(../imgs/ex4.jpg);
    background-position: -745px -171px;
    margin: 10px auto;
}
.jinmi_title{
    text-align: center;
    color: #66a0b3;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

.jinmi_des{
    width: 90%;
    color: #343434;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
}
.jinmi_des p{
    color: #000;
}
.des3{
    width: 90%;
    color: #343434;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
}
.jinmi_table{
    width: 800px;
    font-size: 14px;
    color: #fff;
    margin: 10px auto;
    line-height: 13px;
    letter-spacing: 1px;
}
.jinmi_table li{
    text-align: center;
    border: 1px solid #b6e4f3;
    width: 33%;
    background-color: #8abecf;
    border: 1px solid #b6e4f3;
}
.jinmi_table .t1{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px 0px;
    margin: 0px auto;
}
.jinmi_table .t2{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px -79px;
    margin: 0px auto;
}
.jinmi_table .t3{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px -158px;
    margin: 0px auto;
}
.jinmi_table .t4{
    width: 130px;
    height: 75px;
    background-image: url(../imgs/ex4.jpg);
    background-position: -1115px -237px;
    margin: 0px auto;
}
.jinmi_table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 270px;
    height: 110px;
}
.c1{
    width: 740px;
    height: 257px;
    background: url(../imgs/c.jpg);
    background-position: 0px 0px;
    margin: 5px auto;
}
.c2{
    width: 378px;
    height: 156px;
    background: url(../imgs/c.jpg);
    background-position: 0px -257px;
    margin: 5px auto;
}
.c3{
    width: 378px;
    height: 156px;
    background: url(../imgs/c.jpg);
    background-position: -388px -257px;
    margin: 5px auto;
}
/* longbao */
.longbao_banner{
    height: auto;
    background: url(../imgs/longbao/bg.jpg);
    text-align: center;
    padding: 40px;
}
.longbao_bar{
    height: 42px;
    background: url(../imgs/longbao/bar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.longbao_cap{
    width: 100%;
    height: 400px;
    margin: 0px auto;
    background: url(../imgs/longbao/pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.longbao_title{
    color: #d97331;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}
.longbao_des{
    width: 90%;
    color: #343434;
    font-size: 15px;
    line-height: 18px;
    margin: 40px auto;
    text-align: left;
}
.longbao_des .name{
    color: #d97331;
    font-size: 16px;
    font-weight: bold;
}
.longbao_des .txt{
    color: #d97331;
    font-size: 13px;
    letter-spacing: 1px;
}
.longbao_des li{
    text-align: center;
    height: 120px;
}
.longbao_sub_title{
    width: 65%;
    font-size: 16px;
    color: #2f2f2f;
    text-align: left;
    margin: 0px auto;
}
.longbao_table{
    width: 59%;
    min-width: 600px;
    font-size: 14px;
    color: #fff;
    margin: 10px auto;
    background-color: #ff8740;
    padding: 0px;
    line-height: 13px;
}
.longbao_table li{
    text-align: center;
    border: 1px solid #ffa773;
    padding: 2px;
}
.longbao_table .t-title{
    font-weight: bold;
    height: 50px;
    font-size: 14px;
    background-color: #d97331;
}
.longbao_table .t-title span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    height: 50px;
}
.longbao_table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    height: 30px;
}
.longbao_des2{
    width: 70%;
    min-width: 800px;
    height: 245px;
    color: #343434;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin: 20px auto;
    border: 2px solid #ffba91;
    padding-top: 10px;
    border-radius: 2px;
}
.longbao_des2 .num span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 36px;
    height: 36px;
}
.longbao_des2 .num{
    width: 36px;
    height: 36px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background-color: #d97331;
    border-radius: 50px;
    float: left;
    position: relative;
    top: -20px;
    left: -30px;
}
.longbao_des2 .title{
    font-size: 18px;
    color: #ff8740;
    text-align: center;
    height: 36px;
    position: relative;
    top: -25px;
}
.longbao_des2 .banker{
    font-size: 18px;
    color: #1a02d0;
    font-weight: bold;
    width: 105px;
    text-align: right;
}
.longbao_des2 .banker span{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 150px;
    height: 67px;
}
.longbao_des2 .player{
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
    width: 105px;
    text-align: right;
}
.longbao_des2 .player span{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 150px;
    height: 67px;
}
.longbao_des2 .stxt{
    font-size: 15px;
    color: #d97331;
    font-weight: bold;
    text-align: center;
}
.longbao_des2 .ex1a{
    background: url(../imgs/longbao/ex1a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex1b{
    background: url(../imgs/longbao/ex1b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex2a{
    background: url(../imgs/longbao/ex2a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex2b{
    background: url(../imgs/longbao/ex2b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex3a{
    background: url(../imgs/longbao/ex3a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex3b{
    background: url(../imgs/longbao/ex3b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex4a{
    background: url(../imgs/longbao/ex4a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex4b{
    background: url(../imgs/longbao/ex4b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex5a{
    background: url(../imgs/longbao/ex5a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex5b{
    background: url(../imgs/longbao/ex5b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex6a{
    background: url(../imgs/longbao/ex6a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex6b{
    background: url(../imgs/longbao/ex6b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex7a{
    background: url(../imgs/longbao/ex7a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex7b{
    background: url(../imgs/longbao/ex7b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex8a{
    background: url(../imgs/longbao/ex8a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex8b{
    background: url(../imgs/longbao/ex8b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex9a{
    background: url(../imgs/longbao/ex9a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex9b{
    background: url(../imgs/longbao/ex9b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex10a{
    background: url(../imgs/longbao/ex10a.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
.longbao_des2 .ex10b{
    background: url(../imgs/longbao/ex10b.jpg) no-repeat;
    width: 253px;
    max-width: 100%;
    height: 125px;
    background-size: 100%;
}
/* insurance */
.ins_banner{
    height: 745px;
    background: url(../imgs/bg_ins.jpg);
    text-align: center;
    padding: 40px;
}
.ins_bar{
    height: 42px;
    background: url(../imgs/bar_ins.png);
    background-position: center;
    background-repeat: no-repeat;
}
.ins_cap{
    width: 100%;
    height: 400px;
    margin: 0px auto;
    background: url(../imgs/pic2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.ins_title{
    color: #e2a43a;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}
.res_content .r-bg{
    background-color: #e2a43a;
}
.res_des{
    width: 80%;
    color: #343434;
    font-size: 12px;
    line-height: 22px;
    margin: 20px auto;
    text-align: left;
    letter-spacing: 1px; 
}
.res_des .txt{
    color: #7a5621;
    height: 60px;
}
.res_des .res_sub{
    font-size: 16px;
    color: #44331a;
    text-align: left;
    font-weight: bold;
    height: 17px;
}
.res_des .sub-des{
    font-size: 11px;
    color: #a17c44;
    text-align: left;
    margin: 0px auto;
    height: 17px;
    letter-spacing: 0.5px;
}
.res_table{
    width: 400px;
    font-size: 14px;
    color: #5b4016;
    margin: 5px auto;
    padding: 5px;
    line-height: 13px;
}
.res_table li{
    text-align: center;
    border: 1px solid #ffdea4;
    padding: 2px;
    background-color: #f1c271;
}
.res_table .t-title{
    font-weight: bold;
    height: 50px;
    font-size: 14px;
    background-color: #e2a43a;
    color: #fff;
}
.res_table .t-title span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 50px;
}
.res_table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    height: 30px;
}
/* pailu */
.pailu_banner{
    height: 385px;
    background: url(../imgs/pailubg.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
.pailu_bar{
    height: 42px;
    background: url(../imgs/pailubar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.pailu_sub{
    width: 78%;
    font-size: 17px;
    color: #668462;
    text-align: left;
    font-weight: bold;
    height: 17px;
    margin: 20px auto;
    letter-spacing: 2px;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
}
.pailu_ex1{
    width: 163px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: 0px -126px;
    margin: 0px auto;
}
.pailu_des{
    width: 75%;
    color: #343434;
    font-size: 16px;
    line-height: 25px;
    margin: 20px auto;
    text-align: center;
}
.bg{
    height: 210px;
    background-color: #74a975;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    line-height: 17px;
    margin: 10px;
    letter-spacing: 1px;
}
.pailu_content .ex3{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -163px -126px;
    margin: 0px auto;
}
.pailu_content .ex4{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -326px -126px;
    margin: 0px auto;
}
.pailu_content .ex5{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -487px -126px;
    margin: 0px auto;
}
.pailu_content .ex6{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -650px -126px;
    margin: 0px auto;
}
.pailu_content .ex7{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: 0px -228px;
    margin: 0px auto;
}
.pailu_content .ex8{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -163px -227px;
    margin: 0px auto;
}
.pailu_content .ex9{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -325px -227px;
    margin: 0px auto;
}
.pailu_content .ex10{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -487px -228px;
    margin: 0px auto;
}
.pailu_content .ex11{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -649px -228px;
    margin: 0px auto;
}
.pailu_content .ex12{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: 0px -330px;
    margin: 0px auto;
}
.pailu_content .ex13{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -163px -330px;
    margin: 0px auto;
}
.pailu_content .ex14{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -326px -330px;
    margin: 0px auto;
}
.pailu_content .ex15{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -488px -330px;
    margin: 0px auto;
}
.pailu_content .ex16{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -649px -330px;
    margin: 0px auto;
}
.pailu_content .ex17{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: 0px -432px;
    margin: 0px auto;
}
.pailu_content .ex18{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -163px -432px;
    margin: 0px auto;
}
.pailu_content .ex19{
    width: 162px;
    height: 102px;
    background: url(../imgs/pailu1.jpg);
    background-position: -326px -432px;;
    margin: 0px auto;
}

.pailu_des1{
    width: 75%;
    color: #343434;
    font-size: 14px;
    line-height: 35px;
    margin: 20px auto;
    text-align: left;
}
.pailu_content .txt{
    color: #668462;
    height: 12px;
    font-size: 16px;
    font-weight: bold;
}
.pailu_des3{
    width: 75%;
    color: #343434;
    font-size: 16px;
    line-height: 25px;
    margin: 20px auto;
    text-align: center;
}
/* 21点 */
.banner21{
    height: auto;
    min-height: 740px;
    background: url(../imgs/to/bg.jpg);
    background-position: center;
    text-align: center;
    padding: 40px;
}
.bar21{
    height: 42px;
    background: url(../imgs/to/bar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cap21{
    width: 100%;
    height: 400px;
    margin: 0px auto;
    background: url(../imgs/to/cap21.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.content21{
    height: auto;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
.title21{
    color: #0e590f;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    position: relative;
    margin: 0px auto;
    letter-spacing: 3px;
    padding: 30px 0px 0px 0px;
}
.content21 .des{
    width: 90%;
    color: #343434;
    font-size: 15px;
    line-height: 25px;
    margin: 10px auto;
}
.content21 .rules .r-bg{
    width: 600px;
    height: 100px;
    background-color: #5cb478;
    margin: 22px auto;
    border-radius: 35px;
    position: relative;
}
.content21 .rules>li .num{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.content21 .more{
    width: 500px;
    height: 80px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
}
.content21 .more span{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    width: 500px;
    height: 100px;
    font-size: 16px;
    line-height: 20px;
    padding-right: 15px;
}
.content21 .des2{
    width: 48%;
    color: #343434;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin: 10px auto;
}
.content21 .rules{
    width: 600px;
    height: auto;
    margin: 20px auto;
    background: url(../imgs/r_bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.num-t{
    width: 100%;
    height: auto;
    background-image: url(../imgs/to/num_title.jpg);
    background-position: center;
    letter-spacing: 0.5px;
    color: #000000;
    font-size: 14px;
}
.num-c{
    width: 90%;
    height: 145px;
    background-color: #373934;
    margin: 10px auto;
    padding: 10px;
}
.num-c .ex1{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card01.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.num-t2{
    width: 100%;
    height: auto;
    background-image: url(../imgs/to/num_title2.jpg);
    background-position: center;
    letter-spacing: 0.5px;
    color: #000000;
    font-size: 14px;
}
.num-c .ex2{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card02.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.num-c .ex3{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card03.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.content21 .des3{
    width: 89%;
    margin: 0px auto;
}
.step{
    width: 160px;
    height: auto;
    float: left;
    margin: 20px auto;
}
.step .s-ico{
    width: 144px;
    height: 47px;
    background-color: #58b078;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 3px;
    display: block;
}
.step .s-des{
    width: 144px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    display: block;
    margin: 10px auto;
    float: left;
}
.content21 .arrow{
    width: 26px;
    height: 26px;
    background-image: url(../imgs/to/ex.jpg);
    background-position: -306px -258px;
    float: left;
    margin: 30px auto;
}
.content21 .payout{
    width: 100%;
    height: auto;
    background-image: url(../imgs/to/p_bar.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    padding: 10px;
    margin: 10px auto;
}
.payout .p-ico{
    width: 160px;
    height: 45px;
    background-color: #58b078;
    border-radius: 3px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    float: left;
}
.payout .p-des{
    width: 80%;
    height: auto;
    color: #000;
    letter-spacing: 0px;
    font-size: 14px;
    float: left;
    text-align: left;
    padding: 0px 20px;
    line-height: 32px;
}
.p-des2{
    width: 20%;
    height: auto;
    color: #318a52;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    text-align: center;
    padding: 5px 20px;
    line-height: 32px;
}
.p-des3{
    width: 80%;
    height: auto;
    color: #000;
    letter-spacing: 2px;
    font-size: 16px;
    float: left;
    text-align: left;
    padding: 5px 20px;
    line-height: 32px;
}
.p-des4{
    width: 90%;
    height: auto;
    color: #000;
    letter-spacing: 2px;
    font-size: 16px;
    float: left;
    text-align: left;
    padding: 5px 20px;
    line-height: 32px;
}
.payout .ex4{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card04.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex5{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card05.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex6{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card06.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex7{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card07.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex8{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card08.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex9{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card09.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex10{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card10.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex11{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card11.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex12{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card12.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.payout .ex13{
    width: 100%;
    height: 127px;
    background: url(../imgs/to/card13.png) center no-repeat;
    display: block;
    margin: 0px auto;
}
.p-item{
    width: 290px;
    height: auto;
    float: left;
    color: #2e824d;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.p-item strong{
    font-size: 20px;
    letter-spacing: 2px;
}
/* niuniu */
.niu_content{
    text-align: center;
    padding: 20px;
}
.niu_banner{
    height: auto;
    min-height: 740px;
    background: url(../imgs/niu_bg.jpg);
    background-position: center;
    text-align: center;
    padding: 40px;
}
.niu_bar{
    height: 42px;
    background: url(../imgs/niu_bar.png);
    background-position: center;
    background-repeat: no-repeat;
}
.niu_cap{
    width: 100%;
    height: 400px;
    margin: 0px auto;
    background: url(../imgs/niu_pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.niu_content .rules .r-bg{
    background-color: #5cb478;
}
.niu_des3{
    color: #0e590f;
    font-weight: bold;
}
.niu_table{
    width: 544px;
    height: auto;
    background-color: #5da676;
    margin: 20px auto;
}
.niu_table .tniu{
    width: 50%;
    height: 40px;
    background-color: #3e905a;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 5px 0px;
    letter-spacing: 2px;
}
.niu_table .cniu{
    width: 50%;
    height: auto;
    background-color: #5da676;
    float: left;
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 5px 0px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table .sub{
    width: 100%;
    height: auto;
    background-color: #5da676;
    font-size: 13px;
    color: #fff;
    display: block;
    padding: 5px 0px;
}
.niu_table2{
    width: 750px;
    height: auto;
    background-color: #5da676;
    margin: 20px auto;
}
.niu_table2 .cniu{
    width: 33.3%;
    height: 120px;
    background-color: #5da676;
    float: left;
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table2 .cniu:nth-child(3n+1){
    width: 20%;
}
.niu_table2 .cniu:nth-child(3n+2){
    width: 55%;
}
.niu_table2 .cniu:nth-child(3n+3){
    width: 25%;
}
.niu_table2 .cniu .txt1{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding-top: 14px;
}
.niu_table2 .cniu .txt2{
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
}
.niu_table2 .t-01{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px 0px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-02{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -104px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-03{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -208px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-04{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position:0px -314px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-05{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -418px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-06{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -548px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-07{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -654px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-08{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -760px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-09{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -864px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-10{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -968px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-11{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -1076px;
    display: block;
    margin: 0px auto;
}
.niu_table2 .t-12{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -1180px;
    display: block;
    margin: 0px auto;
}
.niu_table3{
    width: 750px;
    height: auto;
    background-color: #5da676;
    margin: 0px auto;
}
.niu_table3 .tniu1{
    width: 25%;
    height: 40px;
    background-color: #3e905a;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 5px 0px;
    letter-spacing: 2px;
}
.niu_table3 .tniu2{
    width: 75%;
    height: 40px;
    background-color: #3e905a;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 5px 0px;
    letter-spacing: 2px;
}
.niu_table3 .cniu{
    width: 25%;
    height: auto;
    min-height: 60px;
    background-color: #5da676;
    float: left;
    color: #fff;
    font-size: 12px;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table3 .cniu2{
    width: 75%;
    height: auto;
    min-height: 60px;
    background-color: #5da676;
    float: left;
    color: #fff;
    font-size: 12px;
    display: block;
    padding: 9px 0px 0px 0px;
    border-bottom: 1px dotted #3e905a;
    text-align: left;
}
.niu_table3 .cniu2 strong{
    color: #fffc00;
}
.niu_table3 .cniu2 .name {
    width: 30px;
    font-size: 14px;
    color: #fff;
    float: left;
    padding: 3px 0px;
}
.niu_table3 .cniu2 .arrow2{
    width: 10px;
    height: 16px;
    color: #fff900;
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding: 1px 0px;
    margin: 3px;
}
.niu_table3 .ico01 {
    width: 20px;
    height: 20px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: -5px -524px;
    display: block;
    float: left;
    margin-left: 3px;
}
.niu_table3 .ico02 {
    width: 20px;
    height: 20px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: -40px -524px;
    display: block;
    float: left;
    margin-left: 3px;
}
.niu_table3 .ico03 {
    width: 20px;
    height: 20px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: -80px -524px;
    display: block;
    float: left;
    margin-left: 3px;
}
.niu_table3 .ico04 {
    width: 20px;
    height: 20px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: -108px -524px;
    display: block;
    float: left;
    margin-left: 3px;
}
.niu_table3 .sub{
    width: 80%;
    height: auto;
    background-color: #5da676;
    font-size: 13px;
    color: #bdebcd;
    display: block;
    padding: 5px 0px;
    margin: 0px auto;
}
.niu_table2 .tniu2{
    width: 100%;
    height: 34px;
    background-color: #3e905a;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 3px 0px;
    letter-spacing: 2px;
}
.niu_table2 .cniu2{
    width: 33.3%;
    height: auto;
    background-color: #5da676;
    float: left;
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 5px 0px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table2 .cniu2 strong{
    color: #fffc00;
}
.niu_table .tniu2{
    width: 100%;
    height: 40px;
    background-color: #3e905a;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 5px 0px;
    letter-spacing: 2px;
}
.niu_table .cniu2{
    width: 25%;
    height: auto;
    background-color: #5da676;
    float: left;
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 5px 0px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table .cniu3{
    width: 75%;
    height: auto;
    background-color: #5da676;
    float: left;
    color: #fff584;
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-align: left;
    padding: 5px 0px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table .c4{
    width: 25%;
    height: 255px;
    min-height: 70px;
    background-color: #5da676;
    float: left;
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 5px 0px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table .c5{
    width: 75%;
    height: auto;
    min-height: 70px;
    background-color: #5da676;
    float: left;
    color: #fff584;
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-align: left;
    padding: 5px 0px;
    border-bottom: 1px dotted #3e905a;
}
.niu_table .m-03{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -418px;
    display: block;
    margin: 0px auto;
}
.niu_table .m-02{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -656px;
    display: block;
    margin: 0px auto;
}
.niu_table .m-01{
    width: 374px;
    height: 104px;
    background-image: url(../imgs/niu_type.jpg);
    background-position: 0px -313px;
    display: block;
    margin: 0px auto;
}
.niu_content .col-lg-6{
    width: 100%;
}
/* longhu */
.long_banner{
    height: auto;
    background: url(../imgs/long_bg.jpg);
    text-align: center;
    padding: 40px;
}
.long_bar{
    height: 42px;
    background: url(../imgs/long_bar.png)center no-repeat;
}
.long_cap{
    width: 100%;
    height: 400px;
    margin: 0px auto;
    background: url(../imgs/long_pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.long_title{
    color: #374329;
    font-size: 24px;
    font-weight: bold;
}
.long_content{
    height: auto;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
.long_des{
    width: 80%;
    color: #3b3b3b;
    font-size: 14px;
    line-height: 17px;
    margin: 0px auto;
    text-align: center;
}
.long_bg{
    width: 650px;
    height: 100px;
    background-color: #49533f;
    margin: 22px auto;
    border-radius: 35px;
    position: relative;
}
.long_table{
    width: 50%;
    font-size: 12px;
    color: #fff;
    margin: 15px auto;
    padding: 5px;
    line-height: 13px;
}
.t_title{
    font-weight: bold;
    height: 50px;
    font-size: 12px;
    background-color: #49533f;
    color: #fff;
}
.t_title span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 50px;
}
.long_table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    height: 60px;
}
.long_table li{
    text-align: center;
    border: 1px solid #acbb9d;
    padding: 2px;
    background-color: #828d77;
}